<% provide(:title, 'Contactos') %>

<h1>Contactos</h1>
<p>Contacte-nos</p>
<p>
   	<a href="http://pt.linkedin.com/in/diogocsc">Diogo Cordeiro</a>.
</p>
<p>
   	<a href="http://www.quora.com/Escrita-Inteligente-LDA/followers#">Escrita Inteligente, Lda</a>.
</p>