<footer class="footer">
  <small>
    <a href="http://recibo.pt/">Recibos Online</a>
    de 
    <a href="http://www.quora.com/Escrita-Inteligente-LDA/followers#">Escrita Inteligente, Lda</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contactos", contactos_path %></li>
    </ul>
  </nav>
</footer>